/*Navigation bar styling*/
.navbar a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.navbar li {
  display: inline;
}

/*Jumbotron Styling*/
.jumbotron {
  height: 700px;
  background-image: url('./img/mountain.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  background-position: center center;
  vertical-align: top;
}

.jumbotron .container {
  position: relative;
  top:60px;
  color: #fff;
}

.jumbotron h1 {
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
}

.jumbosmall {
  height: 400px;
  background-image: url('./img/lboro_sign.jpeg');
  background-position: 50% 60%;
}

.lboro {
  background-image: url('./img/lboro_sign.jpeg');
  background-position: 50% 60%;
}

.boa {
  background-image: url('./img/boa.jpg');
  background-position: 50% 80%; 
}

/*Homepage Grid Styling*/
.neighborhood-guides {
    /*background-color:#efefef;*/
    border-bottom:1px solid #dbdbdb;
    align-content: center;
}

.neighborhood-guides p {
    font-size:15px;
    margin-bottom:13px;
}

/*Thumbnail/ Quick info styling*/
.thumbnail img{
    width: 200px;
    height: 200px;
    display: block;
}

/*Footer Stlying*/
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100%;
  background-color: #f5f5f5;
}